---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>
          
      {% for category in site.categories %} 
      <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
          
      {% assign pages_list = category[1] %}
      {% for post in pages_list %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
          {% include main-loop-card.html %}
        {% endif %}
      {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}

      {% endfor %}
    </div>
    
    <div class="col-md-4">
      <div class="sticky-top sticky-top-offset">
        {% include sidebars/sidebar-featured.html %}
      </div>
    </div>
  </div>
</div>