---
title: "Social Media Reimagined"
layout: default
pagination:
    enabled: true
description: "Welcome to Federated Diversity Foundation. We strive to empower SocialHub community and the Fediverse they build."
---

<div class="container">
{%- if page.url == "/" -%}
  <div class="row remove-site-content-margin">
    {%- assign latest_post = site.posts[0] -%}
    {%- if latest_post.image contains "://" -%}
      {%- assign latest_post_img = latest_post.image -%}
    {%- else -%}
      {%- assign latest_post_img = site.baseurl | append: site.postimg-dir | append: latest_post.image -%}
    {%- endif -%}
    {%- assign latest_post_style = 'style="background-image: url(' | append: latest_post_img | append: '); height: 200px; background-size: cover; background-repeat: no-repeat;"' -%}
    <div class="col-md-6">
      <div class="card border-0 mb-4 box-shadow">   
        <a href="{{site.baseurl}}{{latest_post.url}}">
        <div class="topfirstimage" {{ latest_post_style }}></div>     
        </a>
        <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
          <h2 class="h4 font-weight-bold">
          <a class="text-light" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
          </h2>
          <p class="excerpt">
              {{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}
          </p>
          <div>
            <small class="d-block text-muted">
              In <span class="catlist">
              {%- for category in latest_post.categories -%}
              <a class="text-capitalize text-muted" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
              {%- endfor -%}
              </span> &nbsp;
              <span class="taglist">
              {%- for tag in latest_post.tags -%}
              <a class="text-lowercase" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>&nbsp;
              {%- endfor -%}</span>                 
            </small>
            <small class="text-muted">
              {{ latest_post.date | date: '%b %d, %Y' }}
            </small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      {%- assign excerpt_post = site.posts[1] -%} 
      {% include excerpt-loop-card.html post=excerpt_post %}

      {%- assign excerpt_post = site.posts[2] -%} 
      {% include excerpt-loop-card.html post=excerpt_post %}

      {%- assign excerpt_post = site.posts[3] -%} 
      {% include excerpt-loop-card.html post=excerpt_post %}
    </div>
  </div>

  {%- for post in site.posts -%} 
  {%- if post.status == "sticky" -%}
  {%- assign post_style = 'style="background-size:cover;background-image:url(' | append: site.baseurl | append: site.postimg-dir | append: post.image | append: ');"' -%}
  <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-yellow position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
      <div class="row justify-content-between">
        <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
          <h1 class="mb-3"> <a href="{{site.baseurl}}{{post.url}}" class="text-dark">{{post.title}}</a></h1>
          <p class="mb-3 lead">
              {{ post.excerpt | strip_html | strip_newlines | truncate: 176 }}
          </p>
          <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Read More</a>
        </div>
        <div class="col-md-6 d-none d-md-block pr-0" {{post_style}}>	
        </div>
      </div>
    </div>
  </div> 
  {%- endif -%}
  {%- endfor- %}
{%- endif -%}
    
  <div class="row mt-3">
    <div class="col-md-8 main-loop">
      <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>

      {%- for post in paginator.posts -%}
        {% include main-loop-card.html %}
      {%- endfor -%}
      
      <div class="mt-5">
        {%- if paginator.total_pages > 1 -%}
        <ul class="pagination"> 
          {%- if paginator.previous_page -%}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {%- else -%}
            <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
          {%- endif -%}

          {%- for page in (1..paginator.total_pages) -%}
            {%- if page == paginator.page -%}
            <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
            {%- elsif page == 1 -%}
            <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
            {%- else -%}
            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {%- endif -%}
          {%- endfor -%}

          {%- if paginator.next_page -%}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {%- else -%}
            <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
          {%- endif -%}
        </ul>
        {%- endif -%}      
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="sticky-top sticky-top-offset">
        {% include sidebars/sidebar-featured.html %}
      </div>   
    </div>
  </div>
</div>