{%- if include.caption != false -%}
<h4 class="font-weight-bold spanborder"><span>Featured</span></h4>
{%- endif -%} 
<ol class="list-featured">				
  {%- for post in site.posts -%}
  {%- if post.status == "featured" and (post.categories contains include.category or include.category == nil ) -%}               
    <li class="mb-4">
      <span>
        <h6 class="font-weight-bold">
          <a href="{{site.baseurl}}{{ post.url }}" class="text-light">{{ post.title }}</a>
        </h6>
        <span class="d-block text-muted">
          {%- if include.category == null -%}
          In <span class="catlist">
          {%- for category in post.categories -%}
          <a class="text-capitalize text-muted" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
          {%- endfor -%}
          </span>
          {%- else -%}
          Topics &nbsp;<span class="taglist">
            {%- for tag in post.tags -%}
            <a class="text-lowercase" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>&nbsp;
            {%- endfor -%}
            </span>
          {%- endif -%}
        </span>
      </span>
    </li>
  {%- endif -%}              
  {%- endfor -%}   
</ol>