{%- assign related_links = page.related -%}
{%- if related_links and related_links.size > 0 -%}
<h4 class="font-weight-bold spanborder"><span>Related</span></h4>  
<ol class="list-related">				
  {% for related in related_links %}            
    <li class="mb-2">
      <h6 class="font-weight-bold">
        <a href="{{ related.url }}" class="text-light">{{ related.title }}</a>
      </h6>
    </li>            
  {% endfor %}   
</ol>
{%- endif -%}