<div class="mb-5">
  <img src="/assets/images/fedi-foundation-logo.svg" width="100%">
</div>

<h5 class="mb-3">Federated Diversity Foundation</h5>

<p>We help empower the SocialHub community that is dedicated to elevating the Fediverse to new heights.</p>

<a target="_blank" href="https://socialhub.activitypub.rocks/" class="btn btn-warning d-block mb-2"><i class="fa fa-activitypub" aria-hidden="true"></i>&nbsp; Join SocialHub Community</a>

<a class="btn btn-danger d-block" href="{{ site.baseurl }}/support.html"><i class="fa fa-coffee" aria-hidden="true"></i>&nbsp; Support Our Foundation</a>