{% assign post = include.post %}
<div class="mb-3 d-flex align-items-center">            
  {% if post.image %}
  <div class="col-md-4">
    <a href="{{site.baseurl}}{{post.url}}">
      <img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.postimg-dir }}{{ post.image }}{% endif %}" alt="{{ post.title }}">
    </a>
  </div>
  {% endif %}                
  <div>
    <h2 class="mb-2 h6 font-weight-bold">
    <a class="text-light" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
    </h2>
    <small class="d-block text-muted">
      In <span class="catlist">
      {% for category in post.categories %}
      <a class="text-capitalize text-muted" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
      {% endfor %}
      </span> &nbsp;
      <span class="taglist">
      {% for tag in post.tags %}
      <a class="text-lowercase" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>
      {% endfor %}</span>                  
    </small>
    <small class="text-muted">
        {{ post.date | date: '%b %d, %Y' }}
    </small>
  </div>
</div>