<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	<a class="text-light" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
	</p>
	<small class="d-block text-muted">
		In <span class="catlist">
		{%- for category in post.categories -%}
		<a class="text-capitalize text-muted" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
		{%- endfor -%}
		</span> &nbsp;
    <span class="taglist">
    {%- for tag in post.tags -%}
    {%- if tag != include.tag -%}
    <a class="text-lowercase" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>&nbsp;
    {%- endif -%}
    {%- endfor -%}
    </span> 
	</small>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small>
</div>
{%- if post.image -%}
	<div class="col-md-3 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}{{ site.postimg-dir }}{{ post.image }}{% endif %}" alt="{{ post.title }}">
	</a>
	</div>
{%- endif -%}
</div>