<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/learn.html">Learn</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/ideate.html">Ideate</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/create.html">Create</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/foster.html">Foster</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/community.html">Community</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
</li>
