        {% assign people = site.data.people | sort %}
        <h4 id="people" class="font-weight-bold spanborder"><span>People</span></h4>
        <div class="row gap-y listrecent listrecent listauthor">
          {%- for person in people -%}
          {%- assign profile_page = site.profile | where: "person", person[1].socialhub | first -%}
          {%- if profile_page -%}
            {%- assign profile_url = profile_page.url -%}
          {%- else -%}
            {%- assign profile_url = "https://socialhub.activitypub.rocks/u/" | append: person[1].socialhub | append: "/summary" -%}
          {%- endif -%}
          <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
              <div class="row">
                <div class="col-md-4 mb-4 mb-md-0"><img alt="{{ person[1].name }}" src="{{site.baseurl}}{{ site.avatar-dir }}{{ person[1].avatar }}" class="rounded-circle" height="80" width="80"></div>
                <div class="col-md-8">
                  <a href="{{ profile_url }}">
                  <h4 class="text-light mb-0"> {{ person[1].name }} </h4>
                  <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
                  <div class="excerpt">{{ person[1].bio }}</div>
                  </a>
                  <div class="icon-block mt-3 d-flex justify-content-between">  
                    <div>
                      <a target="_blank" href="{{ person[1].twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                      <a target="_blank" href="{{ person[1].site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>