    {%- comment -%}

      [TODO]

      This file is inspired by:
      - https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/seo.html
      - https://www.matuzo.at/blog/html-boilerplate/
      - https://github.com/joshbuchea/HEAD

      Initially the SEO gem was used, but it offers insufficient flexibility.
      https://github.com/jekyll/jekyll-seo-tag
    {%- endcomment -%}
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Fedi Foundation">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#222222">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="fedi.foundation">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ page.title }}">
    <meta name="twitter:dnt" content="on">

    <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "author": {
        "@type":"Person",
        "name":"Fedi Foundation"
      },
      "url": "/",
      "description": "{{ page.description }}",
      "@type": "WebSite",
      "name": "fedi.foundation",
      "headline": "{{ page.title }}",
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type": "ImageObject",
          "url": "/assets/images/logo.png"
        },
        "name": "Fedi Foundation"
      }
    }
    </script>