/*! 

Digerati syntax highlighting.
See: https://stylishthemes.github.io/Syntax-Themes/pygments/ 


Changes:
- #33ff66 --> #33ff66
- #77b4c7 --> #63e1e3

*/
.highlight, .highlight code, .highlight pre, .highlight table { background: #2c2c2c !important; }
.highlight .hll { background: #2c2c2c !important; }
.highlight  { background: #2c2c2c !important; color: #f0f0f0 !important; }
.highlight .c { color: #808080 !important; font-style: italic !important; } /* Comment */
.highlight .err { color: #f0f0f0 !important; } /* Error */
.highlight .g { color: #f0f0f0 !important; } /* Generic */
.highlight .k { color: #63e1e3 !important; } /* Keyword */
.highlight .l { color: #f0f0f0 !important; } /* Literal */
.highlight .n, .highlight .h { color: #f0f0f0 !important; } /* Name */
.highlight .o { color: #f0f0f0 !important; } /* Operator */
.highlight .x { color: #f0f0f0 !important; } /* Other */
.highlight .p { color: #f0f0f0 !important; } /* Punctuation */
.highlight .cm { color: #808080 !important; font-style: italic !important; } /* Comment.Multiline */
.highlight .cp { color: #b8b89f !important; } /* Comment.Preproc */
.highlight .c1 { color: #808080 !important; font-style: italic !important; } /* Comment.Single */
.highlight .cs { color: #808080 !important; font-style: italic !important; } /* Comment.Special */
.highlight .gd { color: #f0f0f0 !important; } /* Generic.Deleted */
.highlight .ge { color: #f0f0f0 !important; } /* Generic.Emph */
.highlight .gr { color: #f0f0f0 !important; } /* Generic.Error */
.highlight .gh { color: #ffffff !important; font-weight: bold !important; } /* Generic.Heading */
.highlight .gi { color: #f0f0f0 !important; } /* Generic.Inserted */
.highlight .go { color: #a0a0a0 !important; background: #303030 !important; } /* Generic.Output */
.highlight .gp { color: #f0f0f0 !important; } /* Generic.Prompt */
.highlight .gs { color: #f0f0f0 !important; } /* Generic.Strong */
.highlight .gu { color: #ffffff !important; font-weight: bold !important; } /* Generic.Subheading */
.highlight .gt { color: #f0f0f0 !important; } /* Generic.Traceback */
.highlight .kc { color: #63e1e3 !important; } /* Keyword.Constant */
.highlight .kd { color: #63e1e3 !important; } /* Keyword.Declaration */
.highlight .kn { color: #63e1e3 !important; } /* Keyword.Namespace */
.highlight .kp { color: #63e1e3 !important; } /* Keyword.Pseudo */
.highlight .kr { color: #63e1e3 !important; } /* Keyword.Reserved */
.highlight .kt { color: #63e1e3 !important; } /* Keyword.Type */
.highlight .ld { color: #f0f0f0 !important; } /* Literal.Date */
.highlight .m { color: #ff3b77 !important; } /* Literal.Number */
.highlight .s { color: #33ff66 !important; font-style: italic !important; } /* Literal.String */
.highlight .na { color: #ffffff !important; font-weight: bold !important; } /* Name.Attribute */
.highlight .nb { color: #f0f0f0 !important; } /* Name.Builtin */
.highlight .nc { color: #f0f0f0 !important; } /* Name.Class */
.highlight .no { color: #ff3b77 !important; } /* Name.Constant */
.highlight .nd { color: #f0f0f0 !important; } /* Name.Decorator */
.highlight .ni { color: #ff3b77 !important; } /* Name.Entity */
.highlight .ne { color: #f0f0f0 !important; } /* Name.Exception */
.highlight .nf { color: #ffffff !important; font-weight: bold !important; } /* Name.Function */
.highlight .nl { color: #f0f0f0 !important; } /* Name.Label */
.highlight .nn { color: #f0f0f0 !important; } /* Name.Namespace */
.highlight .nx { color: #f0f0f0 !important; } /* Name.Other */
.highlight .py { color: #f0f0f0 !important; } /* Name.Property */
.highlight .nt { color: #63e1e3 !important; } /* Name.Tag */
.highlight .nv { color: #33ff66 !important; } /* Name.Variable */
.highlight .ow { color: #f0f0f0 !important; } /* Operator.Word */
.highlight .w { color: #f0f0f0 !important; } /* Text.Whitespace */
.highlight .mf { color: #ff3b77 !important; } /* Literal.Number.Float */
.highlight .mh { color: #ff3b77 !important; } /* Literal.Number.Hex */
.highlight .mi { color: #ff3b77 !important; } /* Literal.Number.Integer */
.highlight .mo { color: #ff3b77 !important; } /* Literal.Number.Oct */
.highlight .sb { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Backtick */
.highlight .sc { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Char */
.highlight .sd { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Doc */
.highlight .s2 { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Double */
.highlight .se { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Escape */
.highlight .sh { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Heredoc */
.highlight .si { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Interpol */
.highlight .sx { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Other */
.highlight .sr { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Regex */
.highlight .s1 { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Single */
.highlight .ss { color: #33ff66 !important; font-style: italic !important; } /* Literal.String.Symbol */
.highlight .bp { color: #f0f0f0 !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #33ff66 !important; } /* Name.Variable.Class */
.highlight .vg { color: #33ff66 !important; } /* Name.Variable.Global */
.highlight .vi { color: #33ff66 !important; } /* Name.Variable.Instance */
.highlight .il { color: #ff3b77 !important; } /* Literal.Number.Integer.Long */
