---
layout: default
---
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {%- assign category = page.category.name -%}
      <h1 class="font-weight-bold title text-uppercase mb-4">{{category}}</h1>
      <div class="mb-4 lead">{{ content }}</div>
      {%- for tag in page.category.tags -%}
        {%- assign pages_list = site.tags[tag] -%}
        {%- assign group = false -%}
        {%- for post in pages_list -%}
          {%- if post.categories contains category and tag == post.tags[0] -%}
            {%- if group == false -%}
              <h4 class="font-weight-bold spanborder text-capitalize" id="{{ tag | downcase }}"><span>{{ tag }}</span></h4>
              {%- assign group = true -%}
            {%- endif -%}
            {% include main-loop-card.html tag=tag %}
          {%- endif -%}
        {%- endfor -%}

        {%- assign pages_list = nil -%}
        {%- assign group = nil -%}
      {%- endfor -%}
    </div>
    
    <div class="col-md-4">
      <div class="sticky-top sticky-top-offset">
        {%- if page.category.image -%}
        <div class="d-flex justify-content-center mb-4">
          <img src="{{ site.baseurl}}/assets/images/categories/{{ page.category.image }}" width="60%">
        </div>
        {%- endif -%}
        {% include sidebars/sidebar-related.html %}
        {% include sidebars/sidebar-featured.html category=category %}
      </div>  
    </div>
  </div>
</div>