---
layout: default
---
<div class="container">
  <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
  <div class="row">
      <div class="col-md-8">
      {% if page.image %} 
      <img class="card-img-top mb-5 shadow-lg" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}"> 
      {% endif %} 
      <div class="page-content">
        <div class="container">
          <article class="article-post"> 
            {{ content }}
          </article>
          {% include people-directory.html %}
        </div>
      </div>
      </div>
      <div class="col-md-4">
        {% include sidebars/sidebar-community.html %}
        <p class="mb-5">
          {% include sidebars/sidebar-featured.html category=page.category caption=false %}
        </p>
      </div>
  </div>
</div>