<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.name}}</title>

    {% include seo.html %}

    <link rel="icon" href="{{site.baseurl}}/{{site.favicon}}" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}/{{site.favicon_svg}}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <!-- Fork Awesome Icons -->
    <link rel="stylesheet" href="/assets/css/fork-awesome.min.css">

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
  </head>

  <body class="{% if page.url == "/" %}landingpage{% endif %}">

    <nav class="topnav navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{site.title}}</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto d-flex align-items-center">
            {% include menu-header.html %}
          </ul>
          <ul class="navbar-nav ml-auto d-flex align-items-center">
            {% include menu-donate.html %}
          </ul>
        </div>
      </div>
    </nav>

    {% if page.url == "/" %}
    <div class="gradient">
      <div class="container hero">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <img class="hero-logo" src="/assets/images/fedi-foundation-logo.svg" height="300px">
              <p class="hero-logo-byline">for the <a href="https://socialhub.activitypub.rocks">SocialHub</a> community, in support of the <a href="https://fediverse.party" style="color:#FDBE49">Fediverse</a></p>
              <p class="hero-caption">Community empowerment &nbsp;•&nbsp; Cooperation &nbsp;•&nbsp; Healthy growth &nbsp;•&nbsp; Advocacy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <main role="main" class="site-content mb-6">
      {{ content }}
    </main>

    <footer class="bg-white border-top p-3 text-muted small">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div>
            <a rel="license" title="To the extent possible under law, Fedi Foundation and its contributors have waived all copyright and related or neighboring rights to the pages on this website, unless the page was specifically published under a different license." href="http://creativecommons.org/publicdomain/zero/1.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/assets/images/cc-zero.svg" /></a>&nbsp; unless otherwise stated, see <a rel="nofollow" href="https://codeberg.org/fediverse/fedi-foundation/src/branch/main/README.md#license" style="color:#F1007E;">licensing details</a>.
          </div>
          <div>
            <span style="vertical-align: middle;"><a href="https://codeberg.org/fediverse/fedi-foundation">source</a>, <a href="/credits.html">credits</a>, <a href="privacy.html">privacy</a>, no trackers, no ads, no js</span>
          </div>  
        </div>
      </div>
    </footer>
  </body>
</html>
